student {margin-top:15px;font-weight:bold;color:black;}
 info {display:block;margin-left:15px;color:gray;}
 id, name {color:red;font-size:15pt;}
 college, branch {color:blue;font-size:15pt;}
 yoj, email {color:green;font-size:15pt;}